<section>
	<h3><%= link_to product.name, product %></h3>

	<% if product.image_filename.present? %>
	<p>
		<%= image_tag product.image_filename %>
	</p>
	<% end %>
	
	<p><%= product.description %></p>
	<p><strong>Price:</strong> <%= number_to_currency product.price %></p>
	<p><strong>Stock Quantity </strong> <%= number_to_human product.stock_quantity %></p>
	<p><%= link_to 'edit', edit_product_path(product) %>
	   <%= link_to 'delete', delete_product_path(product), method: :delete, confirm: "Are you sure you want to delete this product?" %>
	</p>
	<hr>
</section>